<div class="row">
    
    <div class="col-lg-3">
        <app-book-category></app-book-category>
    </div>

    <!-- master details for book -->
    <div class="col-lg-9">

        <div class="row">

            <!-- To display the image -->
            <div class="col-12 col-md-4">


            </div>
            <p>
                This website gives exposure to companies that have supported the public during the corona virus pandemic. The main purpose of this website is to encourage users to spend money/time at ethical companies. 
                Like or dislike any company listed that you may agree/disagree with being on the list. 
                Companies are sorted from most to least liked and can be found in their relevant categories on the left-hand side.</p>
                

            <!-- To display the book info -->

        </div>

        <img src="\assets\images\support\mask.jpg" class="center" alt="mask" width="500" height="312">

    </div>
    
</div>
