<div class="wrapper">

   <!-- Navigation -->
 <div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a routerLink="/books" class="navbar-brand">Support Site</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <div class="col-md-6">
         <div class="row">
            </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a id="home" routerLink="/books" class="nav-link" [routerLinkActive]="['active']" data-toggle="tab">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item" >
            <a id="about" routerLink="/about"class="nav-link" [routerLinkActive]="['active']" data-toggle="tab" >About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br/>
  <!-- Page Content -->
  <div class="container">
    <router-outlet></router-outlet>

    <!-- /.row -->
  
  </div>
 </div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 footer">
  <div class="container">
    <p class="m-0 text-center text-dark">Copyright &copy; Corona Support Site 2020</p>
  </div>
  <!-- /.container -->
</footer>

  </div>