
<div class="row">
  
  <div class="col-lg-3">
     
<app-shop-category></app-shop-category>
  </div>
  
  <div class="col-lg-9">


    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let shop of pageOfItems">
        <div class="card h-70">
          <a routerLink="/shops/{{shop.id}}"><img class="card-img-top img-responsive" [src]="shop.imageUrl"  width="125" height="160" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a routerLink="/shops/{{shop.id}}">{{shop.name}}</a>
            </h4>
          </div>
          <div class="card-footer">
            <input id="like{{shop.id}}" (click)="like(shop.id)" class="likebtn" type="image" src="/assets/images/support/like.png" />
            <a id ="shoplikes{{shop.id}}" class="txtnumberdlike">{{shop.likes}}</a>
            <div>
              <input id="dislike{{shop.id}}" (click)="dislike(shop.id)" class="disbtn" type="image" src="/assets/images/support/dislike1.png" />
              <a id ="shopdislikeslikes{{shop.id}}" class="txtnumberdislike">{{shop.dislike}}</a>
            </div>
          </div>
        </div>
      </div>
  
    </div>
    <jw-pagination [pageSize]="9" [items]="shops" (changePage)="onChangePage($event)"></jw-pagination>
</div>

